.u-section-1 .u-sheet-1 {
  min-height: 1764px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  width: 488px;
  margin: 100px auto 0;
}

.u-section-1 .u-image-1 {
  width: 493px;
  height: 392px;
  margin: 61px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -353px 459px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 78px 54px 0 0;
}

.u-section-1 .u-image-2 {
  width: 956px;
  height: 378px;
  margin: -723px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 438px auto 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 259px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1671px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 39px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1399px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 270px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -231px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 135px;
  }
}