.u-section-1 .u-sheet-1 {
  min-height: 1981px;
}

.u-section-1 .u-text-1 {
  margin: 80px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 19px 570px 0 0;
}

.u-section-1 .u-image-1 {
  width: 472px;
  height: 432px;
  margin: -503px 51px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 118px 570px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 8px 277px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 14px 277px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 7px 277px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 20px 277px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 33px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1860px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 311px;
    margin-right: 0;
  }
}