.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-image-1 {
  width: 213px;
  height: 300px;
  margin: 12px auto 0 36px;
}

.u-section-1 .u-image-2 {
  width: 219px;
  height: 300px;
  margin: -300px auto 0 378px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 15px auto 0 396px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -25px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: 321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    margin-left: 121px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 118px;
  }
}